.Footer{
    width: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #8d9093;
    margin-top: 100px;
    height: 100px;
    padding-top: 30px;
    color: #202121;
}
body {
    overflow-x: hidden;
  }
  